*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/*#region CSS reset for fieldset */
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
fieldset legend {
  padding: 0;
  display: table;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
/*#endregion*/

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul {
  list-style-type: none;
}

// reset default state of summary tag
summary {
  list-style: none;

  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

body {
  color: var(--text-color);
  overflow-x: hidden;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.56;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button, input, textarea, select {
  outline: none;
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

select::-ms-expand {
  display: none;
}
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #A5A5A5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #A5A5A5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #A5A5A5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A5A5A5;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #A5A5A5;
}

::placeholder { /* Most modern browsers support this now. */
  color: #A5A5A5;
}

