*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  outline: none;
  background: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

div {
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  --full-hd: 1920px;
  --mac-16inch: 1660px;
  --mac-14inch: 1440px;
  --mac-13inch: 1366px;
  --laptop-smallest: 1280px;
  --desktop-smallest: 1024px;
  --responsive-point: 960px;
  --tablet-ipad: 768px;
  --double-smallest: 640px;
  --phablet: 426px;
  --phone: 375px;
  --smallest: 320px;
  margin: 0;
  font-family: 'Nunito Sans','Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: rem(14);
  line-height: 1.4;
}

code {
  font-family: 'Nunito Sans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

:root {
  --primary: #05445E;
  --primary-variant-1: #189AB4;
  --primary-variant-2: #75E6DA;
  --primary-variant-3: #D4F1F4;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-variant-3);

  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
